/* Start Global */
:root {
  --dark-blue: #1E202B;
  --blue: #009AD8;
  --grey: #262936;
  --light-grey: #323544;
  --white: #fff;
}

body {
  --bs-body-bg: var(--dark-blue);
  --bs-body-color: var(--white);

  --bs-body-font-family: "Open Sans", sans-serif;
}

form input {
  background-color: var(--dark-blue);
  outline: none;
}

form .btn {
  --bs-btn-bg: var(--blue);
  --bs-btn-hover-bg: var(--blue);

  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px 40px;
  border-radius: 50px;
}
/* End Global */

/* Start Navbar */
.navbar {
  --bs-tertiary-bg-rgb: var(--dark-blue);

  --bs-navbar-color: var(--white);
  --bs-navbar-hover-color: var(--blue);
  --bs-navbar-active-color: var(--blue);

  --bs-navbar-brand-color: var(--white);
  --bs-navbar-brand-hover-color: var(--white);

  img {
    width: 64px;
  }

  a h1 {
    font-size: 1rem;
    margin: 0;
    font-weight: 700;
    margin-bottom: 5px;
  }

  a p {
    font-size: .625rem;
    margin: 0;
    font-weight: 300;
  }

  @media (min-width: 992px) {
    .nav-link {
      --bs-navbar-nav-link-padding-x: 1.5rem;
      --bs-nav-link-padding-y: .2rem;
      margin: 0 5px;
      border: 2px solid transparent;
      border-radius: 50px;
    }

    .nav-link:hover,
    .nav-link.active {
      border-color: var(--blue);
    }
  }

  .navbar-toggler {
    border: none;
  }

  @media ( max-width: 992px ) {
    .navbar-nav {
      border-radius: 10px;
      overflow: hidden;
    }

    .nav-link {
      background-color: var(--light-grey);
      text-align: center;
      padding: 15px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}
/* End Navbar */

/* Start Header */
header {
  background:  url("../img/banner.png") var(--dark-blue) no-repeat;

  .row {
    --bs-gutter-x: 0;

    .day h4,
    .day p {
      font-size: .875rem !important;
      color: rgb(191, 193, 200);
    }

    h5 {
      font-size: 1.125rem !important;
      color: rgb(191, 193, 200);
    }

    .temp h3 {
      font-size: 4.25rem !important;
      font-weight: 700;
    }

    .condition h6 {
      font-size: .875rem;
      color: var(--blue);
      font-weight: 300;
      margin-bottom: 10px;
    }

    .properties div {
      display: flex;
      align-items: center;
      gap: 5px;
      color: rgb(191, 193, 200);
      font-weight: 300;

      p {
        margin: 0;
      }
    }
  }

  .row > div:nth-of-type(even) {
    background-color: var(--grey);

    .day {
      background-color: #222530;
    }
  }

  .row > div:nth-of-type(odd) {
    background-color: var(--light-grey);

    .day {
      background-color: #2D303D;
    }
  }

  .row > div:not(:first-of-type) {
    h3 {
      font-size: 1.5rem !important;
      font-weight: 700;
    }

    h6 {
      font-size: 1rem !important;
      font-weight: 300;
    }
  }
}
/* End Header */

/* Start Footer */
footer {
  background-color: var(--grey);

  p {
    font-size: 1rem !important;
    font-weight: 300;
    color: rgb(191, 193, 200);
  }

  form {
      width: 50% !important;
    }

  @media ( max-width: 992px ) {
    form {
      width: 100% !important;
    }
  }

  .sm-icons {
    align-self: center;
  }

  .sm-icons i {
    height: 40px;
    width: 40px;
    align-content: center;
    text-align: center;
    background-color: var(--dark-blue);
    color: var(--blue);
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease-in-out;

    &:hover {
      background-color: var(--blue);
      color: #fff;
    }
  }
}
/* End Footer */